*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
   /* background-image: url('https://media3.giphy.com/media/yoJC2JaiEMoxIhQhY4/giphy.gif?cid=ecf05e47vy6hieumm79da63cnuc839af0lh8h72ksho7ff6z&rid=giphy.gif&ct=g'); */
    background-size: cover;
    background-position: center;
}

.social-links img{
  height: 4rem;
  margin: 4rem;
  cursor: pointer;
}

.social-links {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
}


.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 35px;
  cursor: pointer;
  display: none;
}



nav {
  flex: 1;
  text-align: right;
  margin-right: 5rem;
  font-family: 'Bebas Neue', cursive;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 5rem;
}

nav ul li a:hover {
  color: #ff5ea2;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  margin-top: 50rem;
  }
  
  .flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: #dfdfdf;
  }

  .flexbox-item-1 {
    height: 550px;
    width: 4000px;
    background-image: url('https://media3.giphy.com/media/yoJC2JaiEMoxIhQhY4/giphy.gif?cid=ecf05e47vy6hieumm79da63cnuc839af0lh8h72ksho7ff6z&rid=giphy.gif&ct=g'); 
    background-repeat: repeat;
    
}


@media only screen and (max-width:600px) {
  nav {
    margin-right: 1rem;
  }
  
  nav ul{
      width: 100%;
      background: linear-gradient(#ff54a2, #ff575a);
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
  }
  nav ul li{
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  nav ul li a{
      color: #fff;
  }

  .menu-icon{
      display: block;
  }

  #menuList{
      overflow: hidden;
      transition: 0.5s;
  }
 }

 @media only screen and (max-width:900px) {
  nav {
    margin-right: 2rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
  }

  .social-links img {
    height: 3rem;
    margin: 3rem;
  }
 }